/*.chatbot {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    align-items: flex-end;
}
.wrapper {
    width:370px;
}

.wrapper .title {
    background: skyblue;
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;

}

.wrapper .box {
   border: 1px solid #efefef; 
   padding: 10px 15px;
   min-height: 400px;
   max-height: 400px;
   background: white;
}

.wrapper .box .item {
    display: flex;
    float: left;
}

.wrapper .box .item .icon{
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .item .msg {
    background: #007bff;
    color: white;
    border-radius: 10px;
    width: 300px;
    margin-left: 10px;
}

.wrapper .box .item .msg p {
    padding: 5px;
}

.wrapper .box .item.right {
    float: right;
}

.wrapper .box .item.right .msg{
    background: #007bff;
    color: #333;
}

.wrapper .typing-area {
   width: 100%;
   background: #efefef; 
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px;
}

.wrapper .typing-area .input-field {
    width: 100%;
    position: relative;
}

.wrapper .typing-area .input-field input{
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 90px;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field input:focus {
    border-color: #007bff;
}

.wrapper .typing-area .input-field button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field button:hover {
    background: #007bff;
    color: white;
}

.wrapper .typing-area .input-field input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}
*/